---
import CoverImageInner from './CoverImageInner.astro';

type Props = {
  title: string;
  src?: string;
  href?: string;
};

const { title, src, href } = Astro.props;
---

<>
  {
    href ? (
      <a class="block sm:mx-0" href={href} aria-label={title}>
        <CoverImageInner title={title} src={src} href={href} />
      </a>
    ) : (
      <div class="sm:mx-0">
        <CoverImageInner title={title} src={src} href={href} />
      </div>
    )
  }
</>
