---
import clsx from "clsx";
import { Image } from "@astrojs/image/components";

type Props = {
  title: string;
  coverImage?: string | undefined;
  date: string;
  excerpt: string;
  author: string;
  href: string;
};

const { coverImage, title, excerpt, href } = Astro.props;
---

<a
  href={href}
  class={clsx(
    "aspect-w-1 aspect-h-1 rounded-md overflow-hidden",
    "hover:shadow-medium",
    "shadow-small",
    "group"
  )}
>
  {
    coverImage ? (
      <img
        src={coverImage}
        alt={`Cover Image for ${title}`}
        quality={100}
        fill
        sizes="100vw"
        style={{
          objectFit: "cover",
        }}
      />
    ) : undefined
  }
  <div class="flex items-end">
    <div
      class="flex-1 bg-white opacity-90 text-black px-2 py-4 border border-gray-200 rounded-b-md shadow group-hover:opacity-100 group-hover:border-gray-300 text-3xl sm:text-lg"
    >
      <h3 class="font-bold">{title}</h3>
      <p>{excerpt}</p>
    </div>
  </div>
</a>
