---
import { Container } from '../components/Container';
import { App } from './App';
import humanizeUrl from 'humanize-url';
import CoverImage from '../components/CoverImage.astro';
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  title: string;
  coverImage?: string | undefined;
  date: string;
  excerpt: string;
  author: string;

  externalUrl: string;
  technologies?: string;
}>;

const {
  frontmatter: { title, coverImage, externalUrl, technologies },
  url,
} = Astro.props;
---

<App>
  <Container class="grid gap-4 py-4">
    <article class="mb-32">
      {
        /* <NextSeo
        title={`${post.title} | Patrick Miller`}
        openGraph={{
          images: post.ogImage ? [{ url: post.ogImage.url }] : [],
        }}
      /> */
      }
      <h1
        class="mb-12 text-center text-6xl font-bold leading-tight tracking-tighter md:text-left md:text-7xl md:leading-none lg:text-8xl"
      >
        {title}
      </h1>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div class="col-span-2 grid content-start gap-4">
          <div class="prose"><slot /></div>
          {
            Boolean(externalUrl) && (
              <p>
                <a
                  href={externalUrl}
                  class="inline-block rounded-lg bg-green-600 py-2 px-6 font-bold text-white hover:bg-green-700"
                  target="_blank"
                >
                  View Project ({humanizeUrl(externalUrl)})
                </a>
              </p>
            )
          }
        </div>
        <div class="col-span-1 grid grid-cols-1 content-start gap-4">
          {
            coverImage ? (
              <CoverImage title={title} src={coverImage} href={url} />
            ) : undefined
          }
          {Boolean(technologies) && <p>{technologies}</p>}
        </div>
      </div>
    </article>
  </Container>
</App>
